:root{
  --background-color:#1f1f1f;
  --main-color:#0f0f0f ;
  --display-color:#242323;
  --text-color1:#fff;
  --text-color2:#6e6d6c;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main{ 
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(255, 25, 255);
  background: radial-gradient(circle, rgb(5, 5, 5) 0%, rgb(255, 255, 255) 25%, rgb(255, 254, 254) 100%);
  justify-content: center;
}

.phone{
  width:350px;
  border: 6px solid rgb(0, 0, 0);
  height: 650px;
  border-radius: 50px;
  -webkit-box-shadow:  0px 0px 0px 2px rgb(77, 77, 77); 
box-shadow:  0px 0px 0px 2px rgb(77, 77, 77);
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none; /* Para ocultar en Firefox */
  -ms-overflow-style: none; /* Para ocultar en Internet Explorer y Edge */
}
.content-app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1250px;
}
.display{
  width: 100%;
  height: 220px;
  background-color: var(--display-color);
  border-radius: 30px;
  flex-wrap: wrap;
  display: flex;
  align-items: end;
  flex-direction: column;
  overflow: hidden;
  justify-content: end;
  padding: 2rem;
}
.display span{
  color: var(--text-color1);
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.display h2{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: var(--text-color1);
}

.keybord{
  width: 100%;
  height: 420px;
  background-color: var(--main-color);
  display: flex;

  align-items: center;
  justify-content: center;
}

table{
  width: 100%;
  height: 100%;
}
tbody{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2rem;
  
}
tr{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}
.btn{
  width: 65px;
  height: 65px;
  border-radius: 360px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--display-color);
  color: var(--text-color1);
  font-weight: bold;
  transition: .1s all ease-in ;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn-operation{
  background-color: var(--text-color2);
}
.btn::before{
  content: ""; 
  width: 100%;
  height: 100%;
  transform: scale(.3);
  transition: .1s all ease-in;
  border-radius: 360px;
  position: absolute;
  background-color:  rgba(63, 61, 61, 0.5);
  opacity: 0;
}

.btn:active::before{
  transform: scale(1);
  opacity: 1;
}

.history{
  height: 420px;
background-color: var(--main-color);
display: flex;
padding: 1rem;
flex-direction: column;
justify-content: end;
scrollbar-width: none; /* Para ocultar en Firefox */
-ms-overflow-style: none; /* Para ocultar en Internet Explorer y Edge */
overflow-y: scroll;
}
.history-card{
  height: 60px;
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  color:var(--text-color1);
}

